<div class="row">
 <div class="col-md-12">
    <button class="btn btn-primary" (click)="img='https://media.istockphoto.com/id/1451597153/es/foto/argentina-patagonia-isla-bariloche-isla-victoria-y-paisajes-esc%C3%A9nicos-del-bosque-de-arrayanes.jpg?s=1024x1024&w=is&k=20&c=gCd_nYMOMk7K2ZtXd2LQXH6R4p6AJaKmnFbwARmglWM='">Imagen 1</button>
    <button class="btn btn-dark" (click)="img='https://media.istockphoto.com/id/1598689212/es/foto/luna-en-el-desierto-concepto-de-calentamiento-global.jpg?s=1024x1024&w=is&k=20&c=NMjG-jaWnMJZacPsnBruNy96l5dCr4SKwifQ3JIGoVo='">Imagen 2</button>    
 </div>
</div>

<img [src]="img" alt="">